/* Components Styles */

/* start - Nav sidebar*/
.sidebar {
  justify-self: start;
  align-self: center;
}

.nav_list.little > .nav_item .nav_link span {
  display: none;
}

.nav_item {
  margin: 30px auto;
}

.nav_link {
  height: 40px;
  margin: 10px 0;
  padding: 10px 30px;
  line-height: 40px;
  font-size: 2.2rem;
  transition: transform .2s ease, background .1s ease;
}

.nav_link:hover {
  opacity:1;
  background: var(--hover-2);
  border: 1px solid #555;
  box-shadow: var(--lightShadows);
  border-radius: 0 30px 30px 0;
  transition: opacity 0.1s ease, transform .2s ease, background .4s ease;
}
/* end - Nav sidebar*/

/* start - Score Borad */
.scoreboard {
  position: absolute;
  top: 140px;
  right: 30px;
  display: flex;
  flex-direction: column;
}

.scoreboard__header {
  background-color: var(--hover-2);
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 1.5em;
}

.scoreboard__main {
  background: var(--modules);
  padding-bottom: 30px;
  border-radius: 0 0 10px 10px;
  box-shadow: var(--boxShadows);
}

.scoreboard__main ul {
  display: flex;
  flex-direction: column;
}

.match {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.match:hover {
  background-color: var(--hover-3);
}

.match.none {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitor {
  position: relative;
  display: flex;
  flex: 3;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--lost);
}

.win {
  border-bottom: 1px solid var(--win);
}

.equal {
  border-bottom: 1px solid var(--equals);
}

.team, .score {
  font-size: 1.2em;
  font-weight: bolder;
  margin: 10px 0;
}

.team {
  margin: 10px;
}

.versus {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreGamePic {
  height: 20px;
  width: 20px;
}

.scoreboard__footer {
  height: 30px;
  display: flex;
  justify-content: center;
}

.showEvents {
  background-color: var(--hover-1);
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: var(--basisPurple);
  width: 50px;
  height: 40px;
  border-radius: 0 0 10px 10px;
  box-shadow: var(--boxShadows);
}

.showEvents:hover {
  background-color: var(--hover-2);
  color: #ccc;
}
/* end - Score Borad */

/* start - Globals forms */
input[type=text], input[type=email], input[type=password], textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  min-height: 40vh;
}
/* end - Globals forms */

/* start - Login form */
.login_form {
  height: 100%;
  width: 100%;
}

.login > div {
  width: 80%;
  margin: auto auto;
}

.module {
  align-self: center;
  justify-self: center;
  position: relative;
  max-height: calc(80vh - 120px);
  width: 70%;
  margin: 80px auto;
  padding: 0;
  background: var(--modules);
  border-radius: 0 20px 0 20px;
  box-shadow: var(--boxShadows);
}

.noBtn {
  border-radius: 0 20px 20px 20px;
}

.noTitle {
  border-radius: 20px 20px 0 20px;
}

.noBtn.noTitle {
  border-radius: 20px 20px 20px 20px;
}

.module_title {
  position: absolute;
  top:-50px;
  left: 0;
  line-height: 30px;
  padding: 10px 20px;
  background: var(--basisPurple);
  border-radius: 10px 10px 0 0;
}

.module .button {
  background: var(--basisPurple);
  color: #ccc;
  border: none;
  line-height: 40px;
  font-size: 1.2rem;
  padding: 0 30px;
  position: absolute;
  bottom: -40px;
  right:0;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  box-shadow: var(--boxShadows);
}

.module .button:hover {
  background: var(--hover-2);
}

.module form {
  margin: 40px;
}

.selector {
  position: relative;
  align-self: center;
  left: -35px;
  background-color: var(--modules);
  width: 70px;
  border-radius: 20px;
  box-shadow: var(--boxShadows);
}

.selector_list {
  padding: 20px 0;
}

.selector_item {
  height: 70px;
  width: 70px;
  font-size: .8em;
  font-weight: bold;
}

.selector_item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selector_item a:hover {
  background-color: var(--hover-3);
}

.selector_item a img {
  widows: 30px;
  height: 30px;
  margin: 5px auto;
}

.event_card {
  display: flex;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container h3 {
  margin: 20px 0;
  font-size: 1.6rem;
}

.redirection {
  position: relative;
  top: -20px;
  left: 60px;
  font-size: 1.3rem;
  letter-spacing: .4rem;
  font-weight: 900;
  text-shadow:
    2px 0 0 #ccc,
    -2px 0 0 #ccc,
    0 2px 0 #ccc,
    0 -2px 0 #ccc,
    1px 1px #ccc,
    -1px -1px 0 #ccc,
    1px -1px 0 #ccc,
    -1px 1px 0 #ccc;
  color: var(--basisPurple);
}
/*  end - Globals forms */

.card {
  position: relative;
  min-width: 320px;
  margin: 0 40px;
	flex-shrink: 0;
}

/* Server logo image */
.card .picto {
  position: absolute;
  top: -15px;
  left: calc((320px / 2) - 40px);
}
.card .picto img {
  height: 80px;
  width: 80px;
}


/* Servers status */
.status {
  position: relative;
  top: 45px;
  left: 15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}
.status.online {
  background-color: lime;
}
.status.offline {
  background-color: #FF4D4D;
}

/* card content */
.sub {
  background: var(--modules);
  /* background-color: var(--tileBackground); */
  height: 450px;
  border-radius: 30px 30px 0 30px;
  box-shadow: var(--boxShadows);

  padding-top: 80px;
}
.sub .hide {
  display: none;
}
.sub .show {
  display: block;
}

/* common card content style */
.server_name, .server_infos form label, .server_infos form p {
  color: #ffffff;
  margin: 10px 0;
}
.server_name {
  text-align: center;
}
.server_name, .server_infos form label{
  font-weight: bolder;
}

/* server_infos */
.server_infos {
  margin: 0 20px;
}
.server_infos form p {
  line-height: 30px;
  background-color: #1f2224;
  border: 1px #292f33 solid;
  border-radius: 10px;
  padding: 0 10px;
}
.connect {
  float: right;
}
.connect a img{
  margin: 5px 0;
  width: 20px;
  height: 20px;
}
.server_slots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slots{
  display: flex;
}
.slots > *:last-child {
  background-color: #8B348B;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}
.slots > *:first-child {
  color: #ffffff;
  border-radius: 10px 0 0 10px;
}

/* warning disclaimer */
.warning {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* margin-top: 50px; */
  color: orangered;
  font-weight: bolder;
}

/* card bottom navigation */
.card_nav ul {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 90px;
}
.tab{
  background-color: #292f33;

  width: 50px;
  height: 50px;
  border-radius: 0 0 15px 15px;
  box-shadow: 5px 5px 10px #1f2224;
}
.tab:hover {
  height: 70px;
}
.tab:hover > a img {
  top: 30px;
}
.tab a {
  width: 50px;
  height: 50px;
}
.tab a img {
  position: relative;
  top: 10px;
  left: calc(50% - 15px);
  height: 30px;
  width: 30px;
}
