<div class="scoreBoard" id="scoreBoard">
  <div class="scoreboard__header">
    <h3>RENCONTRES</h3>
  </div>
  <div class="scoreboard__main">
    <ul>
      <!-- <li class="match none">Pas de matches à afficher</li> -->
      <li>
        <a href="/events/#" class="match">
          <div class="competitor equal">
            <div class="team">FIG</div>
            <div class="score">10</div>
          </div>
          <div class="versus">
            <p>
              <img
                class="scoreGamePic"
                src="/img/svg/dod.svg"
                alt="game icone"
              />
            </p>
            <p>vs</p>
          </div>
          <div class="competitor equal">
            <div class="score">10</div>
            <div class="team">MDR</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/events/#" class="match">
          <div class="competitor win">
            <div class="team">FIG</div>
            <div class="score">14</div>
          </div>
          <div class="versus">
            <p>
              <img
                class="scoreGamePic"
                src="/img/svg/dod.svg"
                alt="game icone"
              />
            </p>
            <p>vs</p>
          </div>
          <div class="competitor">
            <div class="score">8</div>
            <div class="team">RKD</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/events/#" class="match">
          <div class="competitor">
            <div class="team">FIG</div>
            <div class="score">2</div>
          </div>
          <div class="versus">
            <p>
              <img
                class="scoreGamePic"
                src="/img/svg/dod.svg"
                alt="game icone"
              />
            </p>
            <p>vs</p>
          </div>
          <div class="competitor win">
            <div class="score">18</div>
            <div class="team">LS</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/events/#" class="match">
          <div class="competitor equal">
            <div class="team">FIG</div>
            <div class="score">10</div>
          </div>
          <div class="versus">
            <p>
              <img
                class="scoreGamePic"
                src="/img/svg/dod.svg"
                alt="game icone"
              />
            </p>
            <p>vs</p>
          </div>
          <div class="competitor equal">
            <div class="score">10</div>
            <div class="team">MDR</div>
          </div>
        </a>
      </li>
      <li>
        <a href="/events/#" class="match">
          <div class="competitor equal">
            <div class="team">FIG</div>
            <div class="score">10</div>
          </div>
          <div class="versus">
            <p>
              <img
                class="scoreGamePic"
                src="/img/svg/dod.svg"
                alt="game icone"
              />
            </p>
            <p>vs</p>
          </div>
          <div class="competitor equal">
            <div class="score">10</div>
            <div class="team">MDR</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="scoreboard__footer">
    <a href="/events" class="showEvents">+</a>
  </div>
</div>
