<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/variables.css">
  ${css ? css.map(c => `
    <link rel="stylesheet" href="/css/${c}" />
  `).join('') : ''}
  <title>Les Figues - ${title}</title>
</head>
<body>
  <div class="document">
    <div class="header">
      <div class="brand">
        <div class="brand_logo">
          <img src="/img/svg/logo.svg" alt="Logo les figues" />
        </div>
        <div class="brand_name">
          Les Figues
        </div>
      </div>
      <div class="headerTitle">
        <h1 class="main_title">
          ${title}
        </h1>
        <p class="separator"><i class="arrow down"></i></p>
      </div>
      <div class="headerOptions">
      </div>
    </div>
    <div class="sidebar">
    </div>
    <div class="main_content">
        <div class="c404">
            <h2>SCHKREUGNEUGNEU ... C'EST PAS BON</h2>
            <p>${message}</p>
        </div>
    </div>
    <div class="footer">
      <p>
        &copy; 2021 Created by <b>Loading ...</b> & <b>Vozoul</b>, All rights
        reserved.
      </p>
    </div>
  </div>
</body>
</html>