<%- include('../partials/header.ejs'); %>

<div class="module noTitle">
    <!-- <h2 class="module_title">Membres</h2> -->
    <div class="users">
        <% if (data.users.length == 0){ %>
        <div class="user_list">Aucun comptes disponible </div>
        <% } else { %>
        <ul class="user_list">
            <% data.users.forEach(user => { %>
                <li>
                    <%- user.pseudo %>
                </li>
            <% }); %>
        </ul>
        <% } %>
    </div>
    <div class="selector">
        <% if ((data.users.length == 0)){  } else { %>
        <ul class="selector_list">
            <li class="selector_item"><a href="admins">
                <img src="/img/svg/fig_rouge.svg" alt="">
                <span>Admins</span>
            </a></li>
            <li class="selector_item"><a href="modos">
                <img src="/img/svg/fig_orange.svg" alt="">
                <span>Modos</span>
            </a></li>
            <li class="selector_item"><a href="figs">
                <img src="/img/svg/fig_violet.svg" alt="">
                <span>Membres</span>
            </a></li>
            <li class="selector_item"><a href="tests">
                <img src="/img/svg/fig_bleu.svg" alt="">
                <span>new Figs</span>
            </a></li>
        </ul>
        <% } %>
    </div>
    <form action="/join" method="post">
        <button type="submit" class="button">NOUS REJOINDRE</button>
    </form>
</div>

<%- include('../partials/footer.ejs'); %>