    </div>
    <div class="footer">
      <p>
        &copy; 2021 Created by <b>Loading ...</b> & <b>Vozoul</b>, All rights
        reserved.
      </p>
      <p><a href=""></a></p>
    </div>
    <widget class="widget">
      <%- include('../components/scoreBoard/scoreBoard.ejs', {async: true}) %>
    </widget>
  </div>
</body>
</html>