<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/cpt-style.css">
  <script src="/js/main.js" defer></script>
  <title>Les Figues - <%= title %></title>
</head>
<body>
  <div class="document">
    <div class="header">
      <div id="brand" class="brand">
        <div class="brand_logo">
          <img src="/img/svg/logo.svg" alt="Logo les figues" />
        </div>
        <div class="brand_name">
          Les Figues
        </div>
      </div>
      <div class="headerTitle">
        <h1 class="main_title">
            <%= title %>
        </h1>
        <p class="separator"><i class="arrow down"></i></p>
      </div>
      <div class="headerOptions">
        <ul class="option_list">
          <li class="option_item"><a id="score-board" class="option_link"><img src="/img/svg/cup.svg" alt="Dernières rencontres" /></a></li>
          <li class="option_item"><a href="https://discord.gg/AnRrwch" target="_blanck" class="option_link"><img src="/img/svg/discord.svg" alt="Notre discord" /></a></li>
          <li class="option_item"><a href="https://steamcommunity.com/groups/lesfigues" target="_blanck" class="option_link"><img src="/img/svg/steam.svg" alt="Notre groupe Steam" /></a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar">
        <%- (typeof c404 !== 'undefined' && c404) ? '' : include('./nav.ejs') %>
    </div>
    <div class="main_content">