<ul class="nav_list">
    <li class="nav_item">
        <a href="/" class="nav_link">
            <img src="/img/svg/home.svg" alt="Home" />
            <span>Accueil</span>
        </a>
    </li>
    <li class="nav_item">
        <a href="/users" class="nav_link">
            <img src="/img/svg/membres.svg" alt="Members" />
            <span>La team</span>
        </a>
    </li>
    <li class="nav_item">
        <a href="/servers" class="nav_link">
            <img src="/img/svg/servers.svg" alt="Servers" />
            <span>Servers</span>
        </a>
    </li>
    <li class="nav_item">
        <a href="/events" class="nav_link">
            <img src="/img/svg/cup.svg" alt="Toolbox" />
            <span>Events</span>
        </a>
    </li>
    <!-- <li class="nav_item">
        <a href="/toolbox" class="nav_link">
            <img src="/img/svg/toolbox.svg" alt="Toolbox" />
            <span>Toolbox</span>
        </a>
    </li> -->
    <li class="nav_item">
        <a href="/contact" class="nav_link">
            <img src="/img/svg/contact.svg" alt="Contact" />
            <span>Contact</span>
        </a>
    </li>
</ul>