<div class="module noBtn">
    <h2 class="module_title">Éditorial des figues</h2>
    <p class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae mollitia magni a dicta eligendi nihil assumenda quis temporibus voluptate voluptas tenetur quos, harum quas adipisci eos ea dolorum. Tenetur vel explicabo delectus rerum atque totam ipsam quasi saepe, similique sunt amet necessitatibus iste quam aspernatur veniam architecto! Natus, esse?</p>
</div>
<%- include('./next_event.ejs') %>