<div class="module with_button">
    <h2 class="module_title">Prochainement</h2>
    <div class="event_card">
        <img src="/img/svg/day_of_defeat_cover.svg" alt="">
        <div class="container">
            <h3>Event name</h3>
            <p>Event description - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eaque tempore voluptate, dignissimos delectus magni, exercitationem impedit aliquam odit sequi ad voluptatem nihil nisi atque sed eum! Error amet, excepturi expedita quas nam exercitationem quisquam sit culpa unde cupiditate nostrum illo? Assumenda delectus laborum ducimus, veniam nobis perspiciatis repellat eaque ab tempore minus iure quasi sed, sint molestiae pariatur recusandae?</p>
        </div>
    </div>
    <p><a href="/event/register" class="redirection">S'inscrire</a></p>
    <button class="button"><p><i class="arrow down bd-white inline"></i></p></button>
</div>