@import url('/css/variables.css');

@font-face {
  font-family: 'sharkbit';
  src: url('/fonts/Sharkbit.ttf');
}
/* @import url('/css/variables.css'); */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, verdana;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  box-sizing: border-box;
}

a {
  color: inherit;
}

/*                  *\
    DOCUMENT HEADER
\*                  */
main {
  background: lime;
  grid-area: body;
}

main section {
  width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 30px;
  left: 240px;
}


.more ul{
  display: flex;

  padding: 10px;
  margin: 10px;
}

.more__button {
  display: flex;
  width: 60px;
  height: 60px;
  margin: 20px 10px;
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  background-color: var(--tileBackground);
  box-shadow: var(--boxShadows);
}

.more__button a img {
  justify-self: center;
  align-self: center;
  height: 35px;
  width: 35px;
}

.scoreboard {
  position: absolute;
  display: flex;
  top: 140px;
  right: 80px;
  width: 220px;
  flex-direction: column;
  z-index: 10000;
}

.scoreboard__header {
  background-color: var(--in_use);
  width: 100%;
  height: 40px;
  padding: 2px 0;
  border-radius: 7px 7px 0 0;
  text-align: center;
  font-size: 1.5em;
}

.scoreboard__main {
  background: var(--tileBackground);
  width: 100%;
  padding: 0 0 30px 0;
  margin: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: var(--boxShadows);
}

.scoreboard__main ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.match {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.match:hover {
  background-color: var(--bgGlobal);
}

.match.none {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitor {
  position: relative;
  display: flex;
  flex: 3;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--lost);
}

.win {
  border-bottom: 1px solid var(--win);
}

.equal {
  border-bottom: 1px solid var(--equals);
}

.team, .score {
  font-size: 1.2em;
  font-weight: bolder;
  margin: 10px 0;
}

.team {
  margin: 10px;
}

.versus {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.versus p img {
  height: 20px;
  width: 20px;
}

.scoreboard__footer {
  height: 30px;
  display: flex;
  justify-content: center;
}

.scoreboard__footer a {
  background-color: var(--tileBackground);
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: var(--basisPurple);
  width: 50px;
  height: 40px;
  border-radius: 0 0 7px 7px;
  box-shadow: var(--boxShadows);
}

.content {
  position: absolute;
  width: 100%;
  height: calc(100vh - 200px);
  /* padding-left: 240px;
  margin-left: 240px; */
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-basis: content;
  margin-top: 160px;
  padding-top: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

footer {
  background-color: #22272A;
  font-size: small;
  position: fixed;
  height: 40px;
  width: 100vw;
  /* display: flex; */
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  color: #8D8D8D !important;
  padding: 20px 30px;
}

footer p b {
  color: #ffffff;
}
footer p {
  color: #8D8D8D !important;
}